.root {
    -fx-font-family: "Inter";
    -fx-background-color: #323232;
}

#mainLabel {
    -fx-font: bold 14pt "Inter";
    -fx-text-fill: #fff;
}

#subLabel {
    -fx-font-family: "Inter";
    -fx-text-fill: #fff;
    -fx-font-size: 12;
}

.button, .toggle-button{
    -fx-border:1px solid #25729a; 
    -fx-border-radius: 3px;
    -fx-font-family: "Inter";
    -fx-background-color: linear-gradient(to bottom, #3093c7, #1c5a85);
    -fx-text-fill: #fff;
}

.button:hover, .toggle-button:hover {
    -fx-border:1px solid #377ea5;
    -fx-background-color:  linear-gradient(to bottom, #41a9e0, #2979b3);
}

.button:pressed, .toggle-button:pressed {
    -fx-border:1px solid #1c5675;
    -fx-background-color: linear-gradient(to bottom, #26759e, #133d5b);
}


.table-view{
    -fx-font-family: "Inter";
    -fx-background-color: #000;
    -fx-table-cell-border-color: #525252;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #525252; /* square(sqrt(6b) + sqrt (3d)/2) */
    -fx-background-radius: 2;
}

.table-view .filler{
    -fx-background-color: linear-gradient(#fff 0%, #6b6b6b 5%, #3d3d3d 90%, #424242 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: linear-gradient(#fff 0%, #6b6b6b 5%, #3d3d3d 90%, #424242 100%);
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color:  #6b6b6b;
}

.table-row-cell:odd{
    -fx-background-color: #3d3d3d;
}

.table-row-cell:selected {
    -fx-background-color: linear-gradient(#00f 0%, #0000cc 100%);
    
}

.combo-box .list-cell 
{
    -fx-background: #6b6b6b;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box .list-cell:selected {
    -fx-background: #f00;
}

.combo-box-popup .list-view 
{
    -fx-background-color: #6b6b6b;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #3d3d3d;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: #008388;
    -fx-background-color: #6b6b6b;
    -fx-text-fill: #fff;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #6b6b6b;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-background-color: #6b6b6b;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: #868585;
}

.combo-box-base:showing 
{
    -fx-color: #525252;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}